<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>South Park</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<h4>  Esto es una prueba de South Park         </h4>

<h1>  <marquee>Bienvenidos a South Park   </marquee>      </h1>

<h2 class="subtitulo-de-canciones">  Cantemos la canciones de South Park </h2>

<p><img src =" ./images/southpark1.jpg"  width="360"  height="360"   alt=" imagen de south park"></p>
<p><img src =" ./images/southpark2.jpg"  width="360" height="360"    alt="otra imagen de south park"></p>

<p class="cancion"> voy hacer a hacer el bien, me tomara un tiempito para rectificar, voy hacer a hacer el bien, pagar por mis pecados me hace sentir el bien, me siento especial al rectificar todo el mal que aqui deje hoy se lo que el señor en el cielo, queria que hiciera por eeeel,por el si, voy hacer a hacer el bien, porque jesus quiere que vuelvaa empezar, voy hacer a hacer el bien, pagar por mis pecados me hace sentir bien..... voy hacer a hacer el bien voy a corregirlo ven y esta noche tendre tu amor... hacer hacer el bien. </p>

<div id="por-bloques">
<ol id="temporada">

    <li> Temporada 1  <i class="fab fa-amazon-pay"></i> </li> 
    <li> Temporada 2  <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 3 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 4 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 5 <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 6 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 7 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 8 <i class="fab fa-amazon-pay"></i></li>
</ol>

<ol id="temporada">

    <li> Temporada 9  <i class="fab fa-amazon-pay"></i> </li> 
    <li> Temporada 10  <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 11 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 12 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 13 <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 14 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 15 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 16 <i class="fab fa-amazon-pay"></i></li>
</ol>

<ol id="temporada">

    <li> Temporada 17  <i class="fab fa-amazon-pay"></i> </li> 
    <li> Temporada 18  <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 19 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 20 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 21 <i class="fab fa-amazon-pay"></i></li>
    <li> Temporada 22 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 23 <i class="fab fa-amazon-pay"></i> </li>
    <li> Temporada 24 <i class="fab fa-amazon-pay"></i></li>
</ol>
</div>



<ul>
<li> Especial Pandemia South Park        <i class="fas fa-stream"></i></li>
<li> Especial Post Covid South Park      <i class="fab fa-apple"></i></li>
<li> Temporada 25! nuevos episodios      <i class="fab fa-apple"></i> <button>ver ahora</button></li>
</ul>

<a href="https://www.southpark.lat">  southpark   </a>

<button class="go">IR</button>



<footer class="fondo">

   <ul id="desorden">
     
   <li><button>Biografía de creadores </button></li>
   <li> <button>Créditos de reparto y equipo </button></li>
   <li><button>Contacto</button></li>
   <li> <button> Créditos web</button></li>
   <li><button>  Política de Privacidad</button></li>
   <li> <button>Términos de Uso </button></li>
   <li> <button>Show </button></li>
   <li> <button>Disclaimer</button></li>
   <li> <button> Política de Cookies</button></li>
    
</ul>

<p>  © 2022 South Park Digital Studios LLC. Todos los derechos reservados. South Park © 2022 Comedy Partners. Todos los derechos reservados. Central de la comedia. South Park y todos los títulos, logotipos y personajes relacionados son marcas comerciales de Comedy Partners.</p>

</footer>

</body>

</html>

