

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(224, 217, 217);
    color: rgb(34, 180, 171);
}

.cancion{
    background-color: greenyellow;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    text-decoration: underline;
    line-height: 50px;
}

#temporada{
    background-color: rgb(255, 80, 197);
    text-decoration: underline;
    color: crimson;
}

h1{
    color: rgb(179, 32, 241);
}

h2.subtitulo-de-canciones{
    text-align: center;
}

.go{
    background-color: rgb(241, 191, 218);
    cursor: pointer;   
  
}
.fondo{
    background-color: black;
    color: white;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#desorden li {
    display: inline-block;
    color: blue;
    width: 100px; 
}


button {
position: relative;
padding: 10px 15px;
border: none;
outline: none;
background-color: rgb(158, 154, 152);
color: rgb(209, 0, 0);
cursor: pointer;
transition: 0.8s;
text-transform: uppercase;
}
button:hover {
    color: rgb(40, 247, 144);
}
